header{

		position: fixed;
		background-color: #00b690;
		width: 250px;
		margin-left: 200px;
		z-index: 9;
		top: 8px;
		
}

nav{
		position: fixed;
		width: 100%;
		background-color: white;
		padding: 31px;
		border-bottom: 1px grey solid;


}

body{
		
		background-color: #e8e6c5;

}

h1{

		color: white;
		text-align: center;

}

h2{

		color: #00b690;
}

h4{

		text-align: center;

}

h5{
		text-align: center;

}

aside{

		float: right;
		margin-right: 150px;

}

.links{



}

.container{
 
		background-color: #888888;
		width: 1024px;
		margin-left: 200px;

}

.main-bio{
		position: fixed;
		top: 120px;
		left: 208px;
		width: 50%;
		background-color: white;
		padding: 10px 10px 10px 10px;

}

.form{

		position: fixed;
		top: 120px;
		left: 210px;
		width: 50%;
		background-color: white;
		padding: 10px 10px 10px 10px;


}

.contact-me{
		position: fixed;
		top: 110px;
		right: 110px;
		width: 16%;
		background-color: white;
		margin: 10px;

	}


.footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: grey;
		padding: 10px;
		margin-left: -10px;
		border-top: 6px #00b690 solid;

}