header{

		position: fixed;
		background-color: #4aaaa5;
		width: 290px;
		margin-left: 200px;
		z-index: 9;
		top: 9px;
		font-family: 'Georgia', Times, Times New Roman, serif;


}

nav{
		position: fixed;
		width: 100%;
		background-color: white;
		padding: 31px;
		border-bottom: 1px grey solid;


}

body{
		
		background-color: #e8e6c5;

}

h1{

		color: white;
		text-align: center;

}

h2 {

		color: #4aaaa5;
}

h4{

		text-align: center;

}

h6 {

		color: white;


}



aside{

		float: right;
		margin-right: 150px;

}

a {

		text-decoration: none;


}

.container{
 
		background-color: #888888;
		width: 1024px;
		margin-left: 200px;

}

.main-bio{
		position: fixed;
		top: 120px;
		left: 208px;
		width: 50%;
		background-color: white;
		padding: 10px 10px 10px 10px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: justify;

}


.TextWrap{

		float: left;


}

.bio{

		position: relative;
		left: 10px;


}

.form{

		position: fixed;
		top: 120px;
		left: 209px;
		width: 50%;
		background-color: white;
		padding: 10px 10px 10px 10px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.portfolio{

		position: fixed;
		top: 120px;
		left: 209px;
		width: 50%;
		height: 1024px;
		background-color: white;
		padding: 10px 10px 10px 10px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		overflow-y: scroll;
		max-width: 1024x;
    	max-height: 465px;


}


.contact-me{
		position: fixed;
		top: 110px;
		right: 110px;
		width: 15%;
		background-color: white;
		margin: 10px;

	}


.footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: grey;
		padding: 10px;
		margin-left: -10px;
		border-top: 6px #00b690 solid;

}